:root {
    --background: #654321;
    --soft_white: #FFF8F0;
    --text_color1: #9CB0A4;
    --text_color2: #402E32;
    --shadow_dark: #2F4858;
    --shadow_brown: #3F2200;

    --orange: #FF5733;
    --red: rgb(255, 49, 49);
    --flamingo: rgb(255, 16, 240);
    --green: rgb(57,255,20);
    --white: #F1F1E6;
}
  
  body {
    margin: 0;
    box-sizing: border-box;

  
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3 {
    font-family: 'Aboreto';
  }
  
  p {
    font-family: 'Roboto';
  }